<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo center ">Hardware Reserveren</a>
    <!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul> -->
  </div>
</nav>
<div class="row">
  <div class="mainpage block card col s12 m10 offset-m1">
    <h5 class="page-title">Login</h5>
    <div id="login-form row">
      <input type="email" class="col s8 offset-s2" id="email-field" placeholder="Email">
      <input type="password" class="col s8 offset-s2" id="password-field" placeholder="Password">
      <a class="waves-effect waves-light btn col s2 offset-s2 blue" id="login-btn">login</a>
    </div>
  </div>
</div>

