<div class="page row">
  <div class="table-holder col s12 l10 offset-l1 card">
    <table class="highlight bordered">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Aantal</th>
                <th>Aantal beschikbaar</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let h of hardware; index as i" (click)="setDesc(i)" id="{{i}}">
              <td>
                <span *ngIf="selected == i" class = "selected-row">{{h.naam}}</span>
                <span *ngIf="selected != i">{{h.naam}}</span>
              </td>
              <td><span *ngIf="selected == i" class = "selected-row">{{h.aantal}}</span>
                <span *ngIf="selected != i">{{h.aantal}}</span></td>
              <td><span *ngIf="selected == i" class = "selected-row">{{h.beschikbaar}}</span>
                <span *ngIf="selected != i">{{h.beschikbaar}}</span></td>
            </tr>    
          </tbody>
    </table>
    
  </div>
  <div class="row">
      <div class="description-holder card col s12 l8 offset-l1">
        {{description}}
      </div>
      <div class="calendar-holder card col s12 l2">
          <input type="date" placeholder="Datum" (input)="checkDate($event)" [(ngModel)]="selectedDate">
          <div class="error-msg">{{dateErrorMsg}}</div>
          <div class="section">
              <a class="waves-effect waves-light btn blue disabled" *ngIf="selected == null || selectedDate == ''">Reserveren</a>
              <a class="waves-effect waves-light btn blue" (click)="submitReservering()" *ngIf="selected != null && selectedDate != ''">Reserveren</a>
          </div>
          
          <div class="divider" *ngIf="userIsAdmin == true"></div>
          <div class="section" *ngIf="userIsAdmin == true">
              <a class="waves-effect waves-light btn" href="/toevoegen">Toevoegen</a>
          </div>
          
      </div>
  </div>
  
</div>